<!-- nav.ejs -->
<nav>
    <ul>
        <% links.forEach( (l,idx)=> { %>
            <li>
                <a href="<%= l.href %>">
                    <%=l.text%>
                </a>
            </li>
            <% }) %>
    </ul>
</nav>